
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background: black;
}

main{
	height: 100%;

}

main .barralateral{
	float: left;
	background: yellow;
	width: 204px;
	height:  100%;
	overflow-y: scroll;

	}


main .page{
	float:  left;
	height:  100%;
	width: calc(100% - 204px);
	overflow-y: scroll;
}	

main .menu{
	position: sticky;
	top: 0px;
	background: red;
	height: 50px;
	}

main .contenido{
	background:  black;
	color: white;
	padding-left: 10%;
	padding-right: 10%;
	}
