header 
	width: 100%
	background: url('../img/header.jpg')
	background-size: cover
	background-position: center 
	position: relative
	height: 500px
	background-attachment: fixed
	
	.logo
		height: 800px
		


	



  
.menu
	text-align: center
	width: 100%
	font-family: 'Oswald'
	left: 100px


	a
		text-decoration: none
		font-size: 25px
		color: white
		display: inline-block
		margin: 40px 40px
		position:relative
		padding: 20px


	a:hover
		text-decoration: underline






	


.textos
	text-align: center
	width: 100%
	color: white
	position: absolute
	margin-top: -60px
	top: 50%

	.nombre
		
		font-size: 80px
		font-family: sans-serif
		font-weight: 400
		font-style: italic
	.nombre2
		font-family: 'Oswald'
		font-weight: 300
		
		font-size: 40px
		font-style: italic
	.nombre3
		font-family: 'Oswald'
		font-weight: 200
		font-size: 30px
	span
		font-family: sans-serif
		font-weight: 400



    	
